body {
  margin 0
  font-family 'Audiowide', cursive
}

grid-color = #aaa

.Game {
  min-width 100vw
  min-height 100vh

  &-button {
    font-size 12px
    padding 4px 6px
    background linear-gradient(to bottom, #eee, #ddd)

    border-radius 2px
    cursor pointer

    &.Game-button--disabled {
      color #888
      cursor default

      &:hover {
        background linear-gradient(to bottom, #eee, #ddd)
      }
    }

    &:hover {
      background #eee
    }

    & + & {
      margin-left 10px
    }
  }

  &-buttons {
    display flex
    margin 20px 0
  }

  &-controls {
    position fixed
    right 0
    top 0
    padding 1em
    background #ccc
  }

  &-grid {
    position fixed
    top 0
    left 0
  }

  &-shipsMenu {
    margin-top 20px
    display flex
    flex-direction column
  }

  &-shipButton {
    cursor pointer

    &:hover {
      opacity 0.6
    }
  }
}

.Region {
  pointer-events none
  position fixed

  &--withFrame {
    background rgba(red, 0.08)
    box-shadow inset 0px 0px 1px rgba(red, 0.4)

    &.Region--still {
      background rgba(mediumseagreen, 0.1)
      box-shadow inset 0px 0px 1px rgba(mediumseagreen, 0.5)
    }
  }
}

.Cell {
  position absolute
  background #000
}
