body {
  margin 0
}

grid-color = #aaa

.Game {
  min-width 100vw
  min-height 100vh
  background-image linear-gradient(to bottom, grid-color 0px, transparent 1px), linear-gradient(to right, grid-color 0px, transparent 1px)
  background-size 10px 10px

  &-controls {
    position absolute
    right 0
    top 0
    padding 1em
    background #ccc
  }
}

.Region {
  background rgba(red, 0.08)
  border 1px solid rgba(red, 0.2)
  box-sizing border-box
  position absolute
}

.Point {
  position absolute
  background-size 7px 7px
  background-position 1px 1px
  background-image linear-gradient(to right, #000, #000)
  background-repeat no-repeat
}
